body {
	font-family: 'Open+Sans', sans-serif;
    background: url(Imagenes/OjoSheikah.jpg);
    position: relative;
    width: 1280px;
    height: 100%;
}

.ladoingreso{
	display: inline-block;
	width: 65%;
}

#logo{
	display: block;
	height: 90px;
	padding: 20px;
}

#codificado{
	display: block;
	top: 100px;
	font-size: 2em;
	line-height: 150%;
	border: 2px solid #0A3871;
	margin: 0 100px 20px;
	color: yellow;
	width: 80%;
	height: 340px;
	background: transparent;
	resize: none;
}

.advertencia{
	padding: 10px;
	margin-left: 100px;
	font-size: small;
	color: white;
	height: 15px;
}

.botones{
	margin-left: 150px;
}

button{
	width: 220px;
	height: 50px;
	border-radius: 16px;
	margin: 10px 30px 40px;
	border: 2px solid #0A3871;
	color: blue;
	cursor: pointer;
}

#botonCodif{
	background: #0A3871;
	color: white;
}

#botonDecodif{
	background: #D8DFE8;
}

.ladoresultado{
	display: inline-block;
	width: 320px;
	text-align: center;
}

#botonCopiar{
	position: relative;
	z-index: 1;
}

#resultado{
	display: none;
}

#decodificado{
	position: absolute;
	width: 225px;
	height: 419px;
	left: 847px;
	top: 73px;
	font-size: 1.5em;
	color: greenyellow;
	background: transparent;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	padding: 20px 30px 100px;
	resize: none;
}

#muneco{
	position: relative;
	width: 287px;
	height: 542px;
	left: 10px;
	top: -33px;
	color: #61fcfda6;
	background: #0a61d11a;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	z-index: 2;
}

#muneco img{
	width: 80%;
	margin-top: 75px;
}

#muneco h3{
	font-size: 1.3em;
    font-weight: 800;
    margin: 15px;
}

#muneco p{
	font-size: small;
	margin-top: 15px;
}

footer{
    text-align: center;
    background: url(Imagenes/bg.jpg);
    padding: 10px;
}

.copyrigth{
    color: #FFFFFF;
    font-size: 13px;
    margin: 5px;
}

@media screen and (max-width: 480px){
	body{
		width: auto;
	}

	.ladoingreso, .ladoresultado{
		display: block;
		width: 100%;
		overflow-wrap: break-word;
	}

	#codificado{
		margin: 0 auto 20px;
	}
	.advertencia, .botones, #decodificado, #muneco{
		margin: 5px auto;
		text-align: center;
	}

	#decodificado, #muneco{
		position: static;
		height: 100px;
		margin: 10px auto;
		padding: 5px;
	}

	#decodificado{
		width: 80%;
		height: 120px;
	}

	#muneco img{
		display: none;
	}

	button{
		margin: 2px auto;
	}
}
